{% extends 'layout.html' %}

{% block content %}


<form id="recharge_form" action="{{ url_for('user.recharge') }}" method="POST">
  <article>
    <label>
      <span>您要充值的金额为${{ amount }}.00，点击下面的充值按钮进行充值：</span>
    </label>
  </article>

  <script
    src="https://checkout.stripe.com/v2/checkout.js"
    data-ajax-url="{{ url_for('user.recharge') }}"
    class="stripe-button"
    data-key="pk_test_xympXkYQUKF8BQZ7aF7IuKEJ"
    data-amount="{{ data_amount }}"
    data-name="账户充值"
    data-description="您将要充值${{ amount }}.00到账户"
    data-image="/128x128.png"
    data-label="充值">
  </script>
</form>


{% endblock content %}