

/* define variable */

@padding: 25px;


/* common */
body{
    padding-bottom: 20px;
}

/* define the navbar-reset */
.reset(@margin: 200px, @height: 90px) {
  margin-left: @margin;
  margin-right: @margin;
  height: @height !important;
}

.navbar {
	max-width: none !important;
	width: 940px;
	.reset();
}

.navbar-collapse.collapse {
	.reset(@margin: 0px);
}

.navbar-nav {
	padding-top: 20px;
}

.nav-user{
    font-size: 120%;
}

.container.row {
  .reset(@height: auto);
}

.cs_list_img {
  width: 100%;
  padding-top: @padding;
  padding-bottom: @padding;
}

.second_text {
  .reset(@height: auto);
  padding-top: @padding;
  padding-bottom: @padding;
}

.thumbnail_img {
  .reset(@margin: 100px, @height: auto);
  padding-top: @padding;
  padding-bottom: @padding;
}

.TA {
  margin-left: 400px;
}

.TA-join-us {
  color: #dd0000;
  font-size: 30px;
  padding-left: 30px;
  vertical-align: middle;;
}

.red-btn {
  position: absolute;
  margin-top: -150px;
  margin-left: 35%;
}

.nav-right() {
  color: rgb(255, 255, 255);
  border-color: rgb(53, 126, 189);
  //background-color: rgb(66, 139, 202);
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px 4px 4px 4px; 
}

.nav-div {
  margin-top: 20px;
}

.a-reset(@color: #000) {
  &,
  &:hover,
  &:focus {
    color: @color !important;
  }
}

.nav-price, .nav-QA, .blue-btn {
  .nav-right();
}

.wrapper{
  min-height: 600px;
}