.top-header {
background-image: url(../../img/toolbar.png); 
background-repeat: repeat-x;
border-color:#3c5a98;
font-weight:bold;
color:#fff;
-moz-box-shadow:0 0 4px rgba(0,0,0,0.4);
-webkit-box-shadow:0 0 4px rgba(0,0,0,0.4);
box-shadow:0 0 4px rgba(0,0,0,0.4);
height: 90px;
min-width: 1200px;
}

.top-content {
font-weight:bold;
color:#fff;
margin-left: 200px;
margin-right: 200px;
min-width: 600px;
}
.top-left{
	margin-top: 35px;
}
.top-right{
	margin-top: 35px;
}
.top-content span a{
	color: #fff;
}

.top-content div a{
	color: #fff;
}
.main-content {
font-weight:bold;
color:#3c5a98;
margin-left: 200px;
margin-right: 200px;
min-width: 700px;
}
#main{
	background-image: url(../../img/tabangbackground20.png); 
	background-repeat: no-repeat;
	min-height: 450px;
}
.foot-content {
font-weight:bold;
color:#fff;
height: 90px;
margin-left: 200px;
margin-right: 200px;
min-width: 700px;
}
.foot-content div  a{
		color: #fff;
}
.about {
	float: left;
	margin-left: 0px;
	margin-top: 10px;
}
.policy{
	float: right;
}
.top-part{
	height: 70px;
}
#social_media_wrapper{
	float: right;
	margin-top: 10px;
	margin-right: 0px;
}
.footer {
font-weight:bold;
color:#fff;
background:gray;
-moz-box-shadow:0 0 4px rgba(0,0,0,0.4);
-webkit-box-shadow:0 0 4px rgba(0,0,0,0.4);
box-shadow:0 0 4px rgba(0,0,0,0.4);
height: 90px;
right:0px;
bottom: 0px;
width: 100%;
min-width: 1200px;
}

.form-horizontal{
	margin-right: 200px;
	margin-left: 200px;
}
#tabcontent{
	min-height: 450px;
}