<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="给大学生提供代写作业的平台">
    <meta name="keywords" content="大学 作业 美国">
    <meta charset="utf-8"  http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>代写作业</title>

    
    

<!-- 最新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" media="screen" />
<link rel="stylesheet" href="font-social/css/fontello.css" media="screen" />
<link href="style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
      <script src="ie/js/html5shiv.js"></script>
    <![endif]-->

  </head>

<body>
    <header class="top-header">
          <div class="top-content">
            <br/>
              <ul class="nav nav-pills">
                  <li><a href="#">Q&A</a></li>
                  <li><a href="#">PRICE</a></li>
                  <li><a href="#">SELF_SETTING</a></li>

              <div class="navbar-right" id="exit" ><a href="#"> Exit</a></div>  
              <div class="navbar-right" id="money_left"><a href="#">Routh |&nbsp </a></div>

              </ul>
          </div>

    </header>
    <br/>
    <div class="main-content">
        <div id="menus" class="row">
            <ul class="nav nav-tabs span6">
              <li class="active">
                 <a href="#">MY ORDER</a>
              </li>
              <li><a href="#">MY ACCOUNT</a></li>
              <button class="btn btn-large btn-primary pull-right" type="button">INPUT MONEY</button>

            </ul>
        </div>
     <br/>
     <br/>
        <div id="main">
          <table class="table table-bordered">
            <tr>
              <th>ORDER No.</th>
              <th>TITLE</th>
              <th>STATUS</th>
              <th>DUE DATE</th>
              <th>MORE INFO</th>
            </tr>
           <tr>
               <th>7</th>
               <th>NANO</th>
              <th>SOLVED</th>
              <th>2014.03.07</th>
              <th><button class="btn btn-primary" type="button">more info</button></th>
            </tr>
            <tr>
            <th>8</th>
            <th>NANO2</th>
            <th>SOLVING</th>
            <th>2014.05.09</th>
             <th><button class="btn btn-primary" type="button">more info</button></th>
           </tr>
         </table>
        </div>
    </div>


   <footer class="footer">
    <div class="foot-content">
    <div id="us-info" class="row">
        <p><a href="#">about us</a>  | <a href="#">join us</a> | <a href="#">contact us</a></p>
    
    <div id="social_media_wrapper" class="pull-right">
      <a href="#email"><span class="glyphicon glyphicon-envelope"></span></a> 
      <a href="#weibo" ><span class="icon icon-social-weibo"></span></a> 
      <a href="#renren"><i class="icon icon-social-renren"></i></a>  
    </div>
    </div>
    <div class="pull-right" style="margin-bottom: 0px">
        <p><a href="#">private policy</a>  | <a href="#">use terms</a> | &copy;Tabang .Inc 2014</p>
    </div>
    </div>
   </footer>

    

</body>
</html>